[size]
height = 120
width = 160

[segmentation]
sigma = 0.5
scale = 750
min_size = 80

[cropping]
height = 20
width = 20
scale = zscore
thresh = 0.8

[masking]
value = zero
scale = zscore
thresh = 0.9

[perturbation]
value = average
scale = zscore
thresh = 0.95

[gradients]
layers = 1
clipping = abs
scale = zscore
thresh = 0.75

[reconstruction]
method = inpainting
loss = mse
norm = true
scale = zscore
thresh = 0.35
