[size]
height = 120
width = 160

[segmentation]
sigma = 0.5
scale = 200
min_size = 200

[cropping]
height = 60
width = 80
scale = zscore
thresh = 0.0

[masking]
value = zero
scale = none
thresh = 0.9

[perturbation]
value = average
scale = none
thresh = 0.125

[gradients]
layers = 0, 1
clipping = negabs
scale = zscore
thresh = 0.1

[reconstruction]
method = averaging
loss = cos
norm = false
scale = zscore
thresh = -0.45
