[size]
height = 198
width = 198

[segmentation]
sigma = 0.3
scale = 750
min_size = 600

[cropping]
height = 30
width = 30
scale = zscore
thresh = 0.0

[masking]
value = blur
scale = zscore
thresh = 0.0

[perturbation]
value = noise
scale = zscore
thresh = 1.25

[gradients]
layers = 0, 1
clipping = abs
scale = zscore
thresh = 1.0

[reconstruction]
method = averaging
loss = mse
norm = true
scale = zscore
thresh = 1.15
